<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GoSpy - Maps</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body onload="connectSocket()">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- sidebar -->
    <div th:insert="~{sidebar :: sidebar_fragment}"></div>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">stranger</span>!</h1>
            <div sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out"/>
                </form>
            </div>
            <!-- Begin Table Content -->
            <div class="container-fluid">

                <!-- Page Heading
                <h1 class="h3 mb-2 text-gray-800">Tables</h1>
                -->

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Spied list</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Date</th>
                                    <th>Lat</th>
                                    <th>Lng</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="person : ${allPeopleList}">
                                    <td th:text="${person.name}"
                                        th:attr="onclick=|addMarkerWithTitle('${person.location.latitude}','${person.location.longitude}', '${person.name}')|">
                                        unknown ?
                                    </td>
                                    <td th:text="${person.locationUpdated}">unknown ?</td>
                                    <td th:if="${person.location} != null" th:text="${person.location.latitude}">unknown
                                        ?
                                    </td>
                                    <td th:if="${person.location} != null" th:text="${person.location.longitude}">
                                        unknown ?
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid table data-->
            <!-- buttons -->
            <div class="container-fluid">
                <div class="card shadow mb-4">
                    <form action="#" th:object="${commandObj}" method="post">
                        <select id="deviceSelectionList" th:field="*{deviceId}">
                            <option th:each="person : ${allPeopleList}" th:value="${person.name}"
                                    th:text="${person.name}">???
                            </option>
                        </select>
                        <!-- FUCKING APARADEKTO !!!!!!!! that it has to be this way !!!!!
                        <input type="hidden" th:attr="value = ${selectedDeviceId}" th:field="*{deviceId}" />
                        --->
                        <button class="btn btn-primary" type="submit" th:attr="value='TRIGGER_LU'" th:field="*{command}"
                                formaction="/maps/sendCommandToDeviceLU">
                            Find Device
                        </button>
                        <button class="btn btn-primary" type="submit" th:attr="value='STOP_TRACKING'"
                                th:field="*{command}" formaction="/maps/sendCommandToDeviceSTOP">
                            Stop Tracking
                        </button>
                        <button class="btn btn-primary" type="submit" th:attr="value='STOP_TRACKING'"
                                th:field="*{command}" formaction="/maps/sendCommandToDeviceSTOP">
                            Start Tracking
                        </button>
                    </form>
                </div>
                <div class="card shadow mb-4">
                    <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                        <!-- websocket communication / alternative. no page reload -->
                        <button class="btn btn-secondary" onclick="sendCommandMessage('TRIGGER_LU');">
                            (WS) Find Device
                        </button>
                        <button class="btn btn-secondary" onclick="sendCommandMessage('STOP_TRACKING');">
                            (WS) Stop Tracking
                        </button>
                        <button class="btn btn-secondary" onclick="sendCommandMessage('START_TRACKING');">
                            (WS) Start Tracking
                        </button>
                        <p></p>
                        <button class="btn btn-primary" onclick="clearMap()">
                            Clear Map
                        </button>
                        <div>
                        </div>
                    </div>

                    <!-- map -->
                    <!--Google map-->
                    <div class="container-fluid">
                        <div id="map-container" style="width:100%; height: 550px; margin-bottom: 30px;"></div>
                    </div>
                    <!-- end map -->
                </div> <!-- Main Content -->
            </div> <!-- Content Wrapper -->
        </div> <!-- Page Wrapper -->
        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="/webjars/sockjs-client/sockjs.min.js"></script>
        <script src="/webjars/stomp-websocket/stomp.min.js"></script>
        <script src="vendor/chart.js/Chart.min.js"></script>
        <script type='text/javascript' src="js/gmaps/gmapsOperations.js"></script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIn6EtzQ482NgOt7SoHO2lDnuSlKCcP-g&callback=initMap"></script>
</body>
</html>